// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html body {
  background-color: #343A40;

}

input {
  background-color: #343A40;
}

input:focus {
  background-color: #343A40;
  outline:none;
}

// html form input input{
//   background-color: #343A40;
// }
